.wrapper {
  min-width: 100%;
  min-height: 100%;
  display: grid;
  grid-template: minmax(100px, auto) minmax(100px, auto) 1fr minmax(auto, auto)/50px 1fr 50px;
  position: absolute;
  background: repeating-linear-gradient(45deg, #ffb6b9, #fae3d9, #bbded6, #8ac6d1);
  background-size: 200% 200%;
  animation: gradient-move 3s ease infinite;
}

@media(min-width: 996px){
  .wrapper{
    display: grid;
  grid-template: minmax(100px, auto) minmax(100px, auto) 1fr minmax(auto, auto)/50px 1fr 50px;
  }

  .header{

  }
  .filter-block{
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .main{
    grid-column: 2/3;
  }
  

  /* Блок с картинкой справа*/
  .left-column-text{
    grid-column: 1/2;
  }
  .right-column-text{
    grid-column: 2/3;

  }
  .right-column-img{
    grid-column: 2/3;
  }
  .left-column-img {
    grid-column: 1/2;
  }
  /* Блок с каритнкой слева */


}

@media(max-width: 425px){
  .wrapper{
    display: grid;
    grid-template: minmax(auto, 200px) minmax(auto,100px) 1fr minmax(auto,200px) / auto;

  }
  .main{
    row-gap: 50px;
    /* grid-row: 3 / 4; */
  }
}

@keyframes gradient-move {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}